header {
  background: #6B7A8F;
  color: white;
  height: 56px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  width: 100%;
}

h1 {
  font-size: 1.4rem;
  font-weight: 500;
  color: #fff;
  padding: 0 12px;
  font-family: 'Bungee Inline', cursive;
}

header ul {display: flex; list-style: none;}

header ul li a, header stencil-route-link h1{padding: 4px; margin: 0 10px; text-transform: uppercase; text-decoration: none; transition: color .4s, background-color .4s; color: white; font-weight: 900;}

header ul li a:hover, header stencil-route-link h1:hover {background-color: white; color: #6B7A8F}

h1 a {text-decoration: none; color: white;transition: color 2s, background-color 2s, font-size 2s;}

h1 a:hover {color:#9ccfe2}

.hero div {background-color: #F7882F; text-align: center; padding: 20px; color: white;}

.hero div h1 {font-size: 400%;transition: color 2s, background-color 2s, font-size 2s; margin: 0;}

.hero div h1:hover {font-size: 600%; background-color: white; color: #6B7A8F;}

.hero div h3 {font-size: 350%; font-family: 'Ramabhadra', sans-serif; margin: 0;}

@media only screen and (max-width: 600px) {
  header {
      display: flex; flex-wrap: wrap; height: 100px;
  }

  header ul {display: none;}
}
